.leaderboard {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.title {
  font-size: large;
  font-weight: bold;
}

.table {
  border-collapse: collapse;
}

.headerCell {
  font-weight: bold;
  padding: 4px;
}

.cell {
  border-top: 1px solid gray;
  padding: 4px;
}
