.game {
  border: 2px solid rgb(139, 139, 139);
  min-height: 700px;
  min-width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .game {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    min-height: fit-content;
  }
}

.header {
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
}

.blockingLayer {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.floatingText {
  position: absolute;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px #27262b;
  width: 100%;
  font-weight: bold;
  animation: floatUp 1s forwards;
  animation-timing-function: ease-out;
}

@keyframes floatUp {
  0% {
    bottom: 20%;
  }

  100% {
    bottom: 80%;
  }
}
