.App {
  text-align: center;
  background-color: #2a2942;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
